/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ceviche One", system-ui;
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
}

body {
  line-height: 1.6;
}

header {
  height: 80px;
  width: 100%;
  background-color: none;
}

.header-contents {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-contents img {
  height: 70px;
  width: 70px;
  border-radius: 70%;
  border: 2px solid gold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: gold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: brown;
  border-radius: 5px;
  color: gold;
  text-decoration: underline;
  transition: 0.4s;
}

/* Main Section */
section {
  padding: 40px 20px;
  text-align: left;
  color: #cbb391;
}

h1 {
  font-size: 3rem;
  color: brown;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

p {
  margin: 20px 0;
  color: #706e00;
}

.features {
  list-style: disc;
  margin: 20px 0;
}

.features li {
  margin: 10px 0;
  font-size: 20px;
  color: #706e00;
}

button {
  background-color: brown;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: gold;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
